Flask==0.10.1
Flask-Bcrypt==0.6.2
Flask-Cors==2.1.0
Flask-Login==0.3.0
Flask-SQLAlchemy==2.0
Jinja2==2.8
PyBluez==0.18
PyDispatcher==2.0.5
SQLAlchemy==1.0.8
Werkzeug==0.10.4
bcrypt==0.1
behave==1.2.5
ipaddr==2.1.10
lxml==2.3.2
parse==1.6.6
parse-type==0.3.4
psutil==0.5.1
pyOpenSSL==0.13
pycrypto==2.6
pyserial==2.5
python-bcrypt==0.3.1
python-daemon==1.5.5
requests==0.12.1
